@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


@font-face {

  font-family: 'Banny_bold';

  src: url('./fonts/Banny_bold.otf');

  font-weight: bold;

  font-style: normal;

}


*{
  font-family: 'Open Sans', sans-serif;
}
